{% extends "base.html" %}

{% block header %}
  {% include "header.html" %}
{% endblock header %}

{% block content %}
  

<div class="signup pt-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Re-enter-Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">username</label>
                    <input type="text" class="form-control" id="exampleInputtext1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="exampleInputtext1">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
      </div>
  </div>
 </div>

{% endblock content %}